name: Deployment

concurrency:
  group: deployment-${{ inputs.environment }}
  cancel-in-progress: true

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Environment"
        default: "dev"
        type: environment

permissions:
  id-token: write
  contents: read
jobs:
  build:
    name: Build App
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v5
      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          version: "latest"
          activate-environment: true
          enable-cache: true

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          driver: docker-container
      - name: Build & Push Image
        env:
          DOCKER_REGISTRY: ${{ secrets.DOCKER_REGISTRY }}
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
          IMAGE_NAME: ${{ vars.IMAGE_NAME }}
        run: |
          release_version=$(uv version --short)

          docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD $DOCKER_REGISTRY

          if !(docker manifest inspect $DOCKER_REGISTRY/$IMAGE_NAME:${GITHUB_SHA::7})
          then
            docker buildx build --push --file docker/Dockerfile \
              --tag $DOCKER_REGISTRY/$IMAGE_NAME:${GITHUB_SHA::7} \
              --cache-to "type=registry,ref=$DOCKER_REGISTRY/$IMAGE_NAME:deps,compression=zstd" \
              --cache-from "type=registry,ref=$DOCKER_REGISTRY/$IMAGE_NAME:deps" \
              --build-arg RELEASE_VERSION="$release_version" \
              --target runtime-image \
              .
          fi
