name: Pre-build Checks & Tests
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number }}
  cancel-in-progress: true

on:
  push:
    branches: [main]
  pull_request:
    types: [opened, synchronize, reopened]
    branches: [main, v/*, rc/*]

env:
  UV_FROZEN: 1

jobs:
  lint:
    name: Code Lint
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v5
      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          version: "latest"
          activate-environment: true
          enable-cache: true
      - name: "Set up Python"
        uses: actions/setup-python@v6
        with:
          python-version-file: "pyproject.toml"
      - name: Install Dependencies
        run: |
          uv sync --all-extras
      - name: Run ruff Linter
        run: uv run task ruff-lint
      - name: Run mypy check
        run: uv run task mypy-lint
